.fz12 {
   color: #000;
   font-size: 12px;
   font-weight: 500;
}

.fz14 {
   color: #000;
   font-size: 14px;
   font-weight: 700;
}

.fz16 {
   color: #000;
   font-size: 16px;
   font-weight: 700;
}

.fz20 {
   color: #000;
   font-size: 20px;
   font-weight: 700;
}

.fz36 {
   color: #000;
   font-size: 36px;
   font-weight: 700;
}